<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>編集</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/edit.css" />
  </head>
  <body>
    <div class="container">
      <!-- タイトル部分 -->
      <div class="title-wrapper">
        <h1>編集</h1>
        <a href="/" class="back-btn btn">戻る</a>
      </div>
      <div class="content-wrapper">
        <form>
          <label>名　前</label>
          <input type="text" id="name" name="name" required maxlength="15" />
        </form>
        <div style="text-align: center">
          <button type="submit" class="register-btn btn">登　録</button>
        </div>
      </div>
    </div>
  </body>
</html>
