<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>買い物リスト</title>
    <link rel="stylesheet" href="/css/list.css" />
  </head>
  <body>
    <div class="container">
      <!-- タイトル部分 -->
      <div class="title-area">
        <h1>買い物リスト</h1>
        <button class="new-btn btn">新規登録</button>
      </div>

      <!-- テーブル -->
      <div class="table-wrapper">
        <table>
          <tbody>
            <tr>
              <th width="10%">No.</th>
              <th width="60%">名前</th>
              <th width="15%"></th>
              <th width="15%"></th>
            </tr>
            <tr>
              <td class="number">1</td>
              <td class="name">長ねぎ</td>
              <td style="text-align: center">
                <button class="btn edit">編集</button>
              </td>
              <td style="text-align: center">
                <button class="btn delete">削除</button>
              </td>
            </tr>
            <tr>
              <td class="number">2</td>
              <td class="name">豆腐</td>
              <td style="text-align: center">
                <button class="btn edit">編集</button>
              </td>
              <td style="text-align: center">
                <button class="btn">削除</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>